.benefits
    background-color: #F6F6F6
    min-height: 473px
    padding: 73px 0 65px 0
    &__header
        text-align: center
        font-weight: 700
        font-size: 30px
        line-height: 30px
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        margin-top: 60px
        flex-wrap: wrap
    &__item
        width: 280px
        min-height: 270px
        text-align: center
        img
            width: 70px
            height: 70px
            margin-bottom: 30px
        h3
            font-weight: 700
            font-size: 18px
            line-height: 29px
        span
            font-weight: 300
            font-size: 14px
            line-height: 18px
            a
                color: red