.reviews
    min-height: 920px
    padding-bottom: 48px
    &__subtitle
        font-weight: 700
        font-size: 18px
        line-height: 18px
    &__descr
        margin-left: 61px
        span
            display: block
            font-weight: 500
            font-size: 14px
            line-height: 22px
            color: #646464
    &__about
        margin-top: 10px
        font-weight: 300
        font-size: 16px
        line-height: 24px
        span
            font-weight: 300
            font-size: 16px
            margin-top: 27px
    &__item
        margin-top: 60px
        display: flex
        justify-content: space-between
        align-items: center
        img
            display: block
            margin: 0 auto
            width: 169px
            height: 169px

@media (max-width:768px)
    .reviews
        padding: 0px 30px 48px 30px
        &__item
            text-align: justify
        &__descr
            margin-left: 40px

@media (max-width:576px)
    .reviews
        &__about
            font-size: 12px
            line-height: 20px
            span
                font-size: 12px
                margin-top: 10px
        &__item
            img
                height: 130px
                width: 130px

@media (max-width:576px)
    .reviews
        &__subtitle
            margin-top: 20px
            text-align: center
        &__about
            line-height: 17px
            span
                line-height: 17px
        &__item
            margin-top: 30px
            flex-direction: column
            text-align: center
            justify-content: center
            img
                height: 100px
                width: 100px
        &__descr
            margin: 0 auto
